{% extends "project_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class='col-md-12 center' style='padding-top: 40px; padding-left:
  200px; padding-bottom: 40px;'>
          {% crispy form %}
  </div>
        <hr/>

    <h1 class="text-center page-header" style="padding-top: 20px;
    padding-bottom:
    20px;">Searched Cat Images</h1>
    <div class="col-lg-8">

      <div class="row text-center text-lg-left">

        <div class="col-lg-2 col-md-4 col-xs-4">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>

                  <div class="col-lg-2 col-md-4 col-xs-4">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>

                  <div class="col-lg-2 col-md-4 col-xs-4">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>

                  <div class="col-lg-2 col-md-4 col-xs-4">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>

                  <div class="col-lg-2 col-md-4 col-xs-4">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="system-message-title"><h4>This is a blocker I
            faced.</h4></div>
    <div class="system-message">
        {{ message }}
    </div>
    </div>

{% endblock content %}
